@model Lesson2_DailyBlogger.Models.BlogPost

@{ ViewData["Title"] = "Details";
    Layout = "_Layout"; }

<!--
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>

<body>
    -->
<div>
    <h2>@Model.blogTitle</h2>
</div>
<div>
    <p>@Model.content</p>
</div>

<div>
    <p>
        <a asp-action="Edit" asp-route-id="@Model.id">Edit this Post </a>
    </p>
    <p>
        <a asp-action="Delete" asp-route-id="@Model.id">Delete this Post </a>
    </p>
</div>

<!--
</body>
</html>
    -->
